/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

ol {
    list-style-type: none;
}

/* // reset */


/* common */
.sr-only:not(:focus):not(:active) {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    white-space: nowrap;
}
.wrapper {
    width: 1500px;
    margin:0 auto;
}
/* // common */


/* header */
.header {
    position: fixed;
    top: 0;
    width: 1500px;
    padding: 20px;
    background-color: #ccc;
}
/* // header */