* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.scrollable-container {
    width: 400px;
    overflow-x: scroll;
}

.scrollable-list {
    display: flex;
}

.scrollable-list li {
    width: 400px;
    margin: 0 40px;
    background-color: #222;
    color: #fff;
}