
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.chat-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.chat-box {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 300px;
}

.chat-message {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chat-message p {
    margin: 0;
    padding: 0;
}

.chat-input {
    display: flex;
    margin-top: 20px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #3e8e41;
}

.assistant {
    color: blue;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container img {
    width: 50%;
    min-width: 300px;
}

#loader {
    font-size: 25px;
    text-align: center;
}

.kakao-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 350px;
    min-height: 200px;
}