/*=================
common start
=================*/
* {
    margin: 0;
    padding: 0;
}
/*=================
common end
=================*/

.code-view-box {
    width: 100%;
    background-color: rgba(31, 31, 31, 0.726);
    color: #c3c8be;
    margin-left: -10px;
}
.card-text{
    margin-bottom: 26px;
}

.h-big {
    max-height: 432px;
}

.h-middle {
    height: 100px;
}

p.text-muted > a {
    color: #979797;
}

/* 탭 기능 시작*/
.ygt-nav {
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-bottom: 32px;
    display: table;
    overflow: hidden;
    border: 4px solid #2196F3;
    border-radius: 40px;
    background-color: #2196F3;
}

.ygt-nav a {
    text-align: center;
    display: inline-block;
    padding: 0.3em 0.9em;
    transition: color .4s;
    color: #fff;
}

@media (max-width: 576px) {
    .ygt-nav a {
        font-size: 15px;
    }

    .ygt-nav {
    min-width: 390px;
    }
}

.ygt-nav a.active {
    color: #2196F3;
}

.ygt-nav a.highlight {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 0;
    transition: left .4s, width .4s;
    border-radius: 37px;
    background-color: #fff;
}

.tab_container {

    border-top: none;
    width: 100%;
    background: #FFFFFF;
    margin-top: 20px;
    padding: 10px;
}

.tab_content {
    padding: 5px;
    font-size: 14px;
    display: none;
}

/* 탭 기능 끝*/
