* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#document {
    display: flex;
    justify-content: center;
    padding: calc(40 / (1240 + var(--user-scroll-bar-width)) * 100vw);
}

.card {
    display: flex;
    gap: calc(40 / (1240 + var(--user-scroll-bar-width)) * 100vw);
    flex-wrap: wrap;
}

.card__item {
    position: relative;
    width: calc(540 / (1240 + var(--user-scroll-bar-width)) * 100vw);
    padding: calc(20 / (1240 + var(--user-scroll-bar-width)) * 100vw);
    border: solid 1px #ddd;
    border-radius: calc(30 / (1240 + var(--user-scroll-bar-width)) * 100vw);
}

.card__title {
    display: flex;
    justify-content: center;
    font-size: calc(30 / (1240 + var(--user-scroll-bar-width)) * 100vw);
}

.card__desc {
    margin-top: calc(40 / (1240 + var(--user-scroll-bar-width)) * 100vw);
    font-size: calc(20 / (1240 + var(--user-scroll-bar-width)) * 100vw);
    line-height: 1.3;
}

.card__img {
    width: calc(500 / (1240 + var(--user-scroll-bar-width)) * 100vw);
    margin-top: calc(40 / (1240 + var(--user-scroll-bar-width)) * 100vw);
}

.card__logo {
    position: absolute;
    bottom: calc(40 / (1240 + var(--user-scroll-bar-width)) * 100vw);
    right: calc(40 / (1240 + var(--user-scroll-bar-width)) * 100vw);
    width: calc(100 / (1240 + var(--user-scroll-bar-width)) * 100vw);
}